*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edge{
    width: 75%;
}

/* HEADER */

header{
    width: 100%;
    height: 70px;
    background-color: #fa6627;
    position: fixed;
    z-index: 2;
}

header>div{
    justify-content: space-between;
    align-items: center;
}

header nav{
    width: calc(100% / 3);
    align-items: center;
}

header nav ul{
    list-style-type: none;
    color: white;
}

header nav li{
    margin-right: 0.7rem;
}

header div.logo-boolean{
    width: calc(100% / 3);
    height: 40px;
    background-image: url(../img/boolean-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

header div.menu{
    width: calc(100% / 3);
    height: 50px;
    border: 2px dotted black;
}


/* MAIN */

main section{
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 100px;
}

article.card{
    height: 580px;
    width: calc(33% - 5px);
    margin-bottom: 2rem;
}



/* CARD */

/* general settings of card */
article.card div.image{
    height: 87%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

article.card div.image div.heart{
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 5%;
    right: 0;
    z-index: 1;
}

article.card div.image div.banner{
    height: 25px;
    width: 100%;
    position: absolute;
    top: 90%;
    left: 0;
}

div.banner>div{
    height: 100%;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 25px;
    padding: 0 0.5rem;
}

article.card div.image div.sale{
    background-color: red;
}

article.card div.image div.sustainability{
    background-color: green;
}


/*  text of card */
article.card p span.brand{
    font-size: 0.8rem;
}

article.card p span.model{
    font-size: 1.1rem;
    font-weight: bold;
}

article.card p span.price{
    font-size: 0.9rem;
    font-weight: bold;
    color: red;
}

article.card p span.old-price{
    font-size: 0.9rem;
    text-decoration: line-through;
}



/* specific settings of card */
article.card div.card-1{
    background-image: url(../img/1.webp);
}

article.card div.card-1:hover{
    background-image: url(../img/1b.webp);
}

article.card div.card-2{
    background-image: url(../img/2.webp);
}

article.card div.card-2:hover{
    background-image: url(../img/2b.webp);
}

article.card div.card-3{
    background-image: url(../img/3.webp);
}

article.card div.card-3:hover{
    background-image: url(../img/3b.webp);
}

article.card div.card-4{
    background-image: url(../img/4.webp);
}

article.card div.card-4:hover{
    background-image: url(../img/4b.webp);
}

article.card div.card-5{
    background-image: url(../img/5.webp);
}

article.card div.card-5:hover{
    background-image: url(../img/5b.webp);
}

article.card div.card-6{
    background-image: url(../img/6.webp);
}

article.card div.card-6:hover{
    background-image: url(../img/6b.webp);
}





/* FOOTER */

footer{
    background-color: black;
    height: 100px;
    color: white;
}

footer>div{
    justify-content: space-between;
    align-items: center;
}

footer div.boolean-data{
    height: 50px;
    font-size: 0.8rem;
}

div.boolean-data h3{
    font-size: 1.2rem;
    line-height: 1.4rem;
}

div.boolean-data ul{
    list-style-type: none;
}

div.boolean-data li{
    margin: 0.5rem;
}


footer div.social{
    height: 50px;
    border: 2px dotted white;
}